* {
    padding: 0;
    margin: 0;
    caret-color: transparent;
}

body {
    background-image: url("images/background9.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    text-align: center;
    background-color: transparent;
    height: 12vh;
}

#heading {
    padding-top: 4vh;
    color: white;
}

#subheading {
    padding-top: 1vh;
    font-size: 18px;
    color: white;
}

#shell { 
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    width: 400px;
    height: 800px;
    box-shadow: 0px 0px 1px 6px #262523;
    border-radius: 50px;
}

#display {
    background-color: black;
    width: 400px;
    height: 290px;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
}

.top-icons {
    display: flex;
    color: white;
    padding-left: 40px;
    padding-top: 10px;
    gap: 8px;
}

.top-icons img {
    width: 25px;
}

#signal {
    margin-left: 160px;
}

#time {
    font-size: 18px;
}

.math-display {
    margin-top: 115px;
    margin-right: 10px;
    margin-left: 10px;
    height: 135px;
    position: relative;
}

#io {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    font-size: 60px;
}

#keypad {
    display: flex;
    justify-content: end;
    background-color: black;
    width: 400px;
    height: 510px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
}

.operators { 
    display: flex;
    flex-direction: column;
    gap: 25px;
    color: white;
    margin-top: 40px;
    margin-right: 36px;
}

button {
    width: 70px;
    height: 70px;
    border-radius: 15px;
    border: none;
    box-shadow: 0 4px 2px -2px black;
    font-size: 44px;
    color: white;
}

.operators button {
    background: orange;
}

button:hover {
    cursor: pointer;
    border: 3px solid black;
}

.inputs {
    margin-top: 40px;
    width: 255px;
    height: 350px;
}

#options {
    display: flex;
    gap: 15px;
}

#top-numbers {
    display: flex;
    padding-top: 25px;
    gap: 15px;
}

#middle-numbers {
    display: flex;
    padding-top: 25px;
    gap: 15px;
}

#bottom-numbers {
    display: flex;
    padding-top: 25px;
    gap: 15px;
}

#zero-decimal {
    display: flex;
    padding-top: 25px;
    gap: 15px;
}

#zero {
    padding-left: 24px;
    text-align:justify;
    width: 155px;
}

.inputs button {
    background: #262523;
}

#options button {
    background: gray;
}